body{
  text-align:center;
  background-color:white;
  padding-top:100px;
}
h1{
  font-size:50px;
}
p{
  font-size:30px;
}
a{
  margin:10px;
  font-size:20px;
  text-decoration:none;
}
img{
  width:700px;
  height:auto;
}
.btn btn-primary{
  margin:10px;
}
.dropdown-menu{
  text-align: center;
}